# /output
# /dl
# /.auto.deps
# /.config.cmd
# /.config.old
# /..config.tmp
# /.config
# *.depend
# *.o
# /*.patch
# /*.diff
# *.orig
# *.rej
# *~
# *.pyc
# .tmpconfig*
# !.github
# ccache
# .buildroot-ccache

support/*
docs/*
output/target/*
output/build/*
output/host/*
output/staging
dl/toolchain-external-bootlin/armv6-eabihf--musl--stable-2021.11-1.tar.bz2

